.home{
    background-color: var(--gris-claro);
}

/* Header */

.home header{
    background-color: var(--amarillo);
}
.home .logo-buscar{
    margin: 0 0 15px 15px;
}
.home header p{
    text-align: center;
    font-size: 12px;
}
/* nav-bar */
.home .nav-bar a{
    color: black;
    font-size: 12px;
}
.home .nav-bar ul{
    margin-top: 30px;
    margin-bottom: 30px;
}
.home .burger-menu{
    margin: 0 42% 20px;
    display: inline-block;
    background: var(--celeste);
    font-size: 20px;
    padding: 8px 10px;
    border: 1px solid var(--celeste);
    color: white;
    border-radius: 5px;
}
/* main */
.home main article{
    margin: 2%;
    text-align:center;
}
.home main .img{
    width: 100%;
}
.home main .titular{
    font-size: 24px;
}
.home main .precio{
    font-size: 18px;
}
.home main .descuentos, .descripciones{
    font-size: 16px;
}

/* footer */
.home footer{
    margin: 2%;
    background-color: white;
}
.home footer section{
    text-align: center;
    font-size: 12px;
    margin: 30px 20px 30px 20px;
}
.home .icon{
    color: var(--celeste);
    font-size: 2em;
    margin-bottom: 10px;
}
.home footer .copyright{
    text-align: left;
    margin: 30px 0 10px 10px;
}